menu "RTC Configuration"

    config PIN_SCL
        int "SCL GPIO number"
        default 16

    config PIN_SDA
        int "SDA GPIO number"
        default 15

    config PIN_INT
        int "CLK GPIO number"
        default 13

    config PIN_RST
        int "RST GPIO number"
        default 12

    config PIN_RTC_CLK
        int "32KHz CLK GPIO number"
        default 17

    config ADDR_RTC
        hex "CHIP I2C ADDR NOT SHIFTED"
        default 0x68


endmenu